@font-face {
	font-family: Lobster;
	src: url(/jam/resources/fonts/lobster_1.4.otf);
}

.navbar-brand {
	font-family: Lobster;
	font-size: 40px;
}

.dropdown-toggle {
	cursor: pointer;
}

body>div.container {
	margin-top: 55px;
	padding-top: 15px;
}

/*********************** Profile page ***********************/
.img-thumbnail {
	margin-bottom: 15px;
}

.avatar-block {
	width: 15%;
}

.info-block {
	width: 80%;
}


.block {
	width: 50%;
}

.profile-field {
	width: 80%;
}

.resize {
	resize: none;
}

.img-circle {
	margin-bottom: 10px;
	margin-left: 11%;
}

.well-book{
	height: 490px;
	cursor: pointer;
}